<div class = "user_page">
<div class = "profile">
  <div class = "profile_top">
    <% if @user.image.attached? %>
      <%= link_to image_tag(@user.image),@user.image, :rel => "lightbox"%>
    <% else %>
      <%= link_to image_tag(asset_pack_path 'media/images/dafault.jpg'),asset_pack_path('media/images/dafault.jpg'), :rel => "lightbox" %>  
      <!--   <img src="<%= asset_pack_path 'media/images/dafault.jpg' %>" /> -->
    <% end %>
      <h1><%= @user.username %></h1>
  </div>
  <div class = "profile_intro">
    <%= @user.introduction%>  
  </div>
  <%= link_to "#{@user.username}がいいねした投稿", user_likes_path(@user) %>
</div>

<div class = "posts">
  <%=@user.username %>のページです。
  <h2><%= @user.username %></h2>
  <ul>
    <li>
      <%= render @posts %> 
    </li>
  </ul>
  <%= will_paginate @posts %>
</div>

</div>
