<div class="card bg-light mb-3" style="max-width: 20rem;">
  <div class="card-header">
    <%= post.user.username %>
    <% if current_user.id == post.user_id %>
       <!--  <%= link_to '編集',post, method: :patch%> -->
     <%= link_to '削除',post, method: :delete %>
     <%end%> 
  </div>
  <div class="card-body">
    <h4 class="card-title"><%= post.title %></h4>
    <p class="card-text"><%= post.content %></p>
    <% if post.image.attached? %>
      <%= image_tag(post.image, :class => "intense") %> 
    <% end %>
  </div>
  <div class="card-footer">	
    
    <%= time_ago_in_words(post.created_at) %>前に作成
  </div>
</div>
