<!DOCTYPE html>
<html>
  <head>
    <title>EvilChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %> 
        <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <strong><%= link_to current_user.username,current_user %></strong>
        <%= link_to 'プロフィール変更',edit_user_registration_path %>
        <%= link_to 'ログアウト',destroy_user_session_path, method: :delete %>
        <%= link_to 'ユーザー一覧',root_path %>
        <%= link_to '新規投稿',new_post_path %>
      <% else %>
        <%= link_to 'サインアップ',new_user_registration_path %>
        <%= link_to 'ログイン',new_user_session_path %> 
      <% end %>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

       <%= yield %>
  </body>
</html>
